@page "/action"
@model QBOID.Pages.actionModel
@{

}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <button id="MIMLoanBtn" type="button" class="btn btn-primary">Take Loan</button>
</div>


@section Scripts{
            <script src="https://devembed.azurewebsites.net/embed/js" type="text/javascript"></script>
            <script>
                

                loadMimEmbedded('MIMLoanBtn', { apiKey: "@Model.apiKey" });
            </script>
    }
