@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
    var requestKey = Guid.NewGuid().ToString();
    var apiKey = "<API Key>";
    var apiSecret = "<API Secret>";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <button id="MIMLoanBtn" type="button" class="btn btn-primary">Take Loan</button>
</div>

@section Scripts{
            <script src="https://devembed.azurewebsites.net/embed/js" type="text/javascript"></script>
            <script>
                loadMimEmbedded('MIMLoanBtn', {
                    email: "random.guy@joinrandom.me",
                    phoneNumber: "08093773683",
                    bvn: "09578490230",
                    apiKey: "@apiKey",
                    @* authorisation: "@{(apiKey + requestKey + apiSecret).Sha512Hash();}", *@
                    requestKey: "@requestKey",
                    loanId: "@Guid.NewGuid().ToString()",
                    bankCode: "200",
                    BankAccountNumber: "0987654321",
                    employmentRecord: {
                        sector: EmployerSector.Banking,
                        employmentType: EmploymentType.Employed,
                        employerName: "MIM Finance Ltd",
                        employerAddress: "Lekki Phase 1, Lekki",
                        city: "Lagos",
                        state: "Lagos",
                        employerPhone: "+2348093773683",
                        employmentDate: '2020-03-07T00:00:00',
                        netMonthlyIncome: 150000.00,
                        duration: EmploymentLength.Four,
                        nextPayDay: '2023-06-30T00:00:00',
                        toleranceDays: 2,
                        totalMonthlyExpense: 100000,
                        salaryFrequency: PayFrequency.Monthly,
                        incomeReceiptMode: IncomeReceiptMode.Bank
                    }
                });
            </script>
    }